PARENT_DIR=/opt/docker
DEST_DIR=/dest
SLACK_WEBHOOK_URL=SLACK_WEBHOOK

# Tiered backup retention (defaults to 6 for each if not set)
BACKUP_RETAIN_HOURLY=6
BACKUP_RETAIN_DAILY=6
BACKUP_RETAIN_WEEKLY=6
BACKUP_RETAIN_MONTHLY=6
BACKUP_RETAIN_YEARLY=6
